#banner {
    
    text-align: center;
    background-image:url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    
}

.page-header h1{
    margin-top:3em;
    font-size:5em;
    color: black;
    background-color: rgba(255, 255, 255, 0.52);
}

.h2 {
    color: black;
    background-color: rgba(255, 255, 255, 0.52);
    margin-top: -0.27em;
    
}

.img-small
{
    margin:2em;
    width:70%;
}

a , a:hover{
    text-decoration: none;
}

.align-right{
    padding-left: 15em;
}

.form {
    padding: 30px 40px;
}


.white{
    color: white;
}

.input-group-text button{
    border:none;
}

a .quiet{
    text-decoration: none;
}

#resultat {
    color: #e74c3c; 
}

.figure{
    margin-top: 10em;
}

.card-img-thumb{
    height: 75px;
    width:auto;
    border-radius: 50%;
    vertical-align: middle;
}

.logo-img-thumb{
    height: 45px;
    width:auto;
    border-radius: 25px;
    vertical-align: middle;
}

.display-5{
    font-size: 30px;
}	
